.ribbon {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 14px;
}

.inner-ribbon-right {
    display: flex;
    align-items: center;
}

.right {
    padding-left: 40px;
}
