.ribbon {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 14px;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.inner-ribbon-left {
    display: flex;
    align-items: center;
}

.inner-left-countdown {
    padding-left: 10px;
}

.inner-ribbon-right {
    display: flex;
    align-items: center;
}

.right {
    padding-left: 40px;
}

.bold {
    font-weight: 900;
    font-size: 24px;
}

.free {
    font-size: 24px;
}

.click {
    font-size: 8px;
}

#countdown {
    background-color: #fff;
    color: #000;
    margin-top: 6px;
    padding: 10px;
}