.navbar {
    background-color: #fff;
    padding: 10px;
}

.left-navbar {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-style: italic;
    color: #1C6758;
}

.jets-img {
    border-radius: 4px;
    width: 60px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 30px;
    padding-right: 10px;
}